<p>
  <mat-card class="example-card">
    <mat-card-subtitle>Nombres</mat-card-subtitle>
    <mat-card-content>
      <p>Prueba pepito</p>
    </mat-card-content>
  </mat-card>
</p>
<p>
  <mat-card class="example-card">
    <mat-card-subtitle>Edad</mat-card-subtitle>
    <mat-card-content>
      <p>Prueba 16 años</p>
    </mat-card-content>
  </mat-card>
</p>
<p>
  <mat-card class="example-card">
    <mat-card-subtitle>Altura</mat-card-subtitle>
    <mat-card-content>
      <p>Prueba 1.70m</p>
    </mat-card-content>
  </mat-card>
</p>
<p>
  <mat-card class="example-card">
    <mat-card-subtitle>Peso</mat-card-subtitle>
    <mat-card-content>
      <p>Prueba 56kg</p>
    </mat-card-content>
  </mat-card>
</p>

  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="accent" (click)="editarPersona()">Editar</button>
