<div class="example-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink='/' style="cursor: pointer;">Macros-App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon  mat-icon-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Cerrar seccion</span>
        </button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav style="width: 200px" mode="over" (click)="sidenav.toggle()">
        <img src="assets/fitness-menu.png" width="150" style="margin-left: 20px">
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink='persona' (click)="openDialog()">
          <mat-icon>person</mat-icon>
          <span>Persona</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink='alimento' >
          <mat-icon>restaurant</mat-icon>
          <span>Alimentos</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink='dieta' >
          <mat-icon>menu_book</mat-icon>
          <span>Dieta</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink='periodo' >
          <mat-icon>directions_run</mat-icon>
          <span>Periodo</span>
        </button>
        <mat-divider></mat-divider>

      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>

</div>
